This project was completed as part of George Washington University's Data Analysis and Visualization course. Based on the criteria below, I did some basic analysis of a video game sales dataset using Pandas.

## Heroes of Pymoli

#### Congratulations! After a lot of hard work in the data munging mines, you've landed a job as Lead Analyst for an independent gaming company. You've been assigned the task of analyzing the data for their most recent fantasy game Heroes of Pymoli.

#### Like many others in its genre, the game is free-to-play, but players are encouraged to purchase optional items that enhance their playing experience. As a first task, the company would like you to generate a report that breaks down the game's purchasing data into meaningful insights.

In [2]:
#import dependencies

import numpy as np
import pandas as pd

In [3]:
#read in sales data

sales_df = pd.read_json("purchase_data.json")

sales_df.head()

,Age,Gender,Item ID,Item Name,Price,SN
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46
2,34,Male,174,Primitive Blade,2.46,Assastnya25
3,21,Male,92,Final Critic,1.36,Pheusrical25
4,23,Male,63,Stormfury Mace,1.27,Aela59

### Total Number of Unique Players

In [24]:
print("Total Players: " + str(len(sales_df["SN"].value_counts())))

Total Players: 573

### Purchasing Analysis (Total)

In [12]:
#Count of unique items
print("Number of Unique Items: " + str(len(sales_df["Item ID"].value_counts())))

#average purchase price
avg_price = sales_df["Price"].mean()
print("Average Purchase Price: $" + str(avg_price))

#Total number of purchases
print("Total Purchases: " + str(len(sales_df)))

#Total revenue
print("Total Revenue: $" +str(sales_df["Price"].sum()))

Number of Unique Items: 183
Average Purchase Price: $2.931192307692303
Total Purchases: 780
Total Revenue: $2286.33

### Gender Demographics

In [22]:
#create a dataframe to display user gender breakdown

unique_users = sales_df.drop_duplicates(["SN"])

gender_counts = unique_users["Gender"].value_counts()

gendered_df = pd.DataFrame(gender_counts)

#divide gender counts by total users to find percentage of userbase
gendered_df["Percent of Userbase"] = (gendered_df/(len(sales_df["SN"].value_counts())))*100

print("Gender Demographics")
gendered_df.head()

Gender Demographics

                       Gender  Percent of Userbase
Male                      465            81.151832
Female                    100            17.452007
Other / Non-Disclosed       8             1.396161

### Purchasing Analysis by Gender

In [23]:
#group sales data by gender
gendergroup = sales_df.groupby("Gender")

#calculate revenues
gendered_revenues = gendergroup["Price"].sum()

#calculate average purchase price
gendered_avgprice = gendergroup["Price"].mean()

#calculate number of purchases
gendered_counts = sales_df["Gender"].value_counts()

#aggregate into dataframe
gendered_summary = pd.DataFrame({"Total Purchase Value": gendered_revenues,
                                 "Average Purchase Price": gendered_avgprice, 
                                 "Purchase Count": gendered_counts})
print("Purchasing Analysis by Gender")
gendered_summary

Purchasing Analysis by Gender

,Average Purchase Price,Purchase Count,Total Purchase Value
Female,2.815515,136,382.91
Male,2.950521,633,1867.68
Other / Non-Disclosed,3.249091,11,35.74

### Age Demographics

In [25]:
#create bins for age groups
bins = [0,10,15,20,25,30,35,40,45]
names = ["Under 10", "10 to 15", "15 to 20", "20 to 25", "25 to 30", "30 to 35", "35 to 40", "40 to 45"]

#cut sales data into age groups
sales_df["Age Group"] = pd.cut(sales_df["Age"], bins, labels=names)

#group sales data into age bins
age_groups = sales_df.groupby("Age Group")

#calculate purchase count, purchase price, and total purchase values
age_summary = pd.DataFrame({"Purchase Count": age_groups["Age"].count(),
                            "Average Purchase Price": age_groups["Price"].mean(),
                            "Total Purchase Value": age_groups["Price"].sum()})

print("Age Demographics")
age_summary

Age Demographics

           Average Purchase Price  Purchase Count  Total Purchase Value
Age Group
Under 10                 3.019375              32                 96.62
10 to 15                 2.873718              78                224.15
15 to 20                 2.873587             184                528.74
20 to 25                 2.959377             305                902.61
25 to 30                 2.892368              76                219.82
30 to 35                 3.073448              58                178.26
35 to 40                 2.897500              44                127.49
40 to 45                 2.880000               3                  8.64

### Top Spenders

In [26]:
#group sales by user
usersums = sales_df.groupby("SN")

#calculate fields
top_summary = pd.DataFrame({"Purchase Count": usersums["Price"].count(),
                            "Average Purchase Price": usersums["Price"].mean(),
                            "Total Purchase Value": usersums["Price"].sum()})

#sort by total purchases
top_summary = top_summary.sort_values(by="Total Purchase Value",ascending=False)

print("Top Spenders")
top_summary.head()

Top Spenders

             Average Purchase Price  Purchase Count  Total Purchase Value
SN
Undirrala66                3.412000               5                 17.06
Saedue76                   3.390000               4                 13.56
Mindimnya67                3.185000               4                 12.74
Haellysu29                 4.243333               3                 12.73
Eoda93                     3.860000               3                 11.58

### Most Popular Items

In [27]:
#group sales data by item
items = sales_df.groupby("Item ID")

#calculate fields
item_summary = pd.DataFrame({"Purchase Count": items["Price"].count(),
                             "Item Name": items["Item Name"].max(),
                             "Item Price": items["Price"].max(),
                             "Total Purchase Value": items["Price"].sum()})

#sort by purchase count
item_summary = item_summary.sort_values(by="Purchase Count", ascending=False)

print("Most Popular Items")
item_summary.head()

Most Popular Items

,Item Name,Item Price,Purchase Count,Total Purchase Value
Item ID,,,,
39,"Betrayal, Whisper of Grieving Widows",2.35,11,25.85
84,Arcane Gem,2.23,11,24.53
31,Trickster,2.07,9,18.63
175,Woeful Adamantite Claymore,1.24,9,11.16
13,Serenity,1.49,9,13.41

### Most Profitable Items

In [29]:
#sort previous summary by total revenue

print("Most Profitable Items")
item_summary.sort_values(by="Total Purchase Value", ascending=False).head()

Most Profitable Items

,Item Name,Item Price,Purchase Count,Total Purchase Value
Item ID,,,,
34,Retribution Axe,4.14,9,37.26
115,Spectral Diamond Doomblade,4.25,7,29.75
32,Orenmir,4.95,6,29.70
103,Singed Scalpel,4.87,6,29.22
107,"Splitter, Foe Of Subtlety",3.61,8,28.88